In [ ]:
query = '''
SELECT scooters.companyname, AVG(chargelevel) AS avg_charge
FROM scooters
GROUP BY scooters.companyname
'''
with engine.connect() as connection:
    scoots1 = pd.read_sql(text(query), con = connection)

In [ ]:
sns.barplot(x = 'companyname',y = 'avg_charge',data = scoots1, palette= scoot_company_colors).set(title="Average Charge of Scooter by Company")
plt.xlabel("Company Name")
plt.ylabel("Average Charge (percentage)")
plt.savefig('../images/avg_trips_per_day', format = 'png')
plt.show()

In [ ]:
query = '''
SELECT scooters.companyname, count(DISTINCT(sumdid))
FROM scooters
GROUP BY scooters.companyname
'''
with engine.connect() as connection:
    scoots4 = pd.read_sql(text(query), con = connection)

In [ ]:
sns.barplot(x = 'companyname',y = 'count',data = scoots4, palette= scoot_company_colors).set(title="Number of Scooters per Company")
plt.xlabel("Company Name")
plt.ylabel("Number of Scooters")

plt.show()