In [1]:
from sqlalchemy import create_engine, text
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as pyplot

In [2]:
database_name = 'scooters' 

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
engine = create_engine(connection_string)

query = '''
SELECT 
    COUNT(sumdid),
    COUNT(DISTINCT sumdid)
FROM scooters;
'''

with engine.connect() as connection:
    scoots = pd.read_sql(text(query), con = connection)

scoots.head()

query = '''
SELECT 
    COUNT(sumdid),
    COUNT(DISTINCT sumdid)
FROM trips;
'''

with engine.connect() as connection:
    trips = pd.read_sql(text(query), con = connection)

trips.head()

query = '''
SELECT 
    MIN(latitude) AS min_lat,
    MAX(latitude) AS max_lat,
    MIN(longitude) AS min_lon,
    MAX(longitude) AS max_lon
FROM scooters;
'''

with engine.connect() as connection:
    scoots = pd.read_sql(text(query), con = connection)

scoots

query = '''
SELECT *
FROM scooters
LIMIT 100;
'''

with engine.connect() as connection:
    scoots = pd.read_sql(text(query), con = connection)

scoots.head()

query = '''
SELECT *
FROM trips
LIMIT 100;
'''

with engine.connect() as connection:
    trips = pd.read_sql(text(query), con = connection)

trips.info()

query = '''
SELECT *
FROM trips
'''

trips = pd.read_sql(query, con = engine)

query = '''
SELECT 
    companyname,
    COUNT(DISTINCT sumdid)
FROM scooters
GROUP BY companyname;
'''

with engine.connect() as connection:
    scoots = pd.read_sql(text(query), con = connection)

scoots

query = '''
SELECT 
    companyname,
    EXTRACT('MONTH' FROM pubdatetime) AS month,
    COUNT(DISTINCT sumdid)
FROM scooters
GROUP BY companyname, EXTRACT('MONTH' FROM pubdatetime);
'''

with engine.connect() as connection:
    scoots = pd.read_sql(text(query), con = connection)

scoots

THE FOLLOWING CODE WAS DONE VIA GROUP WORK

In [4]:
query = '''
SELECT *
FROM trips
'''

trips = pd.read_sql(query, con = engine)

The goal of Metro Nashville is to have each scooter used a minimum of 3 times per day. Based on the data, what is the average number of trips per scooter per day? Make sure to consider the days that a scooter was available. How does this vary by company?

In [5]:
trips['MM-DD'] = trips['pubtimestamp'].dt.strftime('%m-%d')

In [6]:
number3 = trips[['MM-DD','sumdid','companyname']].groupby(['MM-DD','sumdid'])

In [7]:
number3 = number3.value_counts().reset_index()

In [8]:
number3.groupby(['MM-DD','companyname'])['count'].mean()

MM-DD  companyname
05-01  Bird             1.546218
       Lyft             2.707617
05-02  Bird             1.612946
       Lime             4.708013
       Lyft             2.291855
                          ...
08-01  Bolt Mobility    1.000000
       JUMP             1.000000
       Lime             1.000000
       Lyft             1.000000
       SPIN             1.000000
Name: count, Length: 528, dtype: float64