In [2]:
from sqlalchemy import create_engine, text
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as pyplot

In [3]:
database_name = 'scooters' 

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [4]:
engine = create_engine(connection_string)

In [5]:
query = '''
SELECT 
    COUNT(sumdid),
    COUNT(DISTINCT sumdid)
FROM scooters;
'''

with engine.connect() as connection:
    scoots = pd.read_sql(text(query), con = connection)

scoots.head()

      count  count
0  73414043  10018

In [6]:
query = '''
SELECT 
    COUNT(sumdid),
    COUNT(DISTINCT sumdid)
FROM trips;
'''

with engine.connect() as connection:
    trips = pd.read_sql(text(query), con = connection)

trips.head()

    count  count
0  565522   9005

In [7]:
query = '''
SELECT 
    MIN(latitude) AS min_lat,
    MAX(latitude) AS max_lat,
    MIN(longitude) AS min_lon,
    MAX(longitude) AS max_lon
FROM scooters;
'''

with engine.connect() as connection:
    scoots = pd.read_sql(text(query), con = connection)

scoots

   min_lat       max_lat    min_lon  max_lon
0      0.0  3.609874e+06 -97.443879      0.0

In [8]:
query = '''
SELECT *
FROM scooters
LIMIT 100;
'''

with engine.connect() as connection:
    scoots = pd.read_sql(text(query), con = connection)

scoots.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird

In [21]:
query = '''
SELECT *
FROM trips
LIMIT 100;
'''

with engine.connect() as connection:
    trips = pd.read_sql(text(query), con = connection)

trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pubtimestamp    100 non-null    datetime64[ns]
 1   companyname     100 non-null    object
 2   triprecordnum   100 non-null    object
 3   sumdid          100 non-null    object
 4   tripduration    100 non-null    float64
 5   tripdistance    100 non-null    float64
 6   startdate       100 non-null    object
 7   starttime       100 non-null    object
 8   enddate         100 non-null    object
 9   endtime         100 non-null    object
 10  startlatitude   100 non-null    float64
 11  startlongitude  100 non-null    float64
 12  endlatitude     100 non-null    float64
 13  endlongitude    100 non-null    float64
 14  triproute       100 non-null    object
 15  create_dt       100 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(8)
memory usage: 12.6+ KB

In [23]:
query = '''
SELECT 
    MIN(pubtimestamp ),
    MAX(pubtimestamp )
FROM scooters;
'''

with engine.connect() as connection:
    scoots = pd.read_sql(text(query), con = connection)

scoots

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "pubtimestamp" does not exist
LINE 3:     MIN(pubtimestamp ),
                ^

[SQL:
SELECT
    MIN(pubtimestamp ),
    MAX(pubtimestamp )
FROM scooters;
]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [9]:
query = '''
SELECT *
FROM trips
'''

trips = pd.read_sql(query, con = engine)

In [12]:
query = '''
SELECT 
    companyname,
    COUNT(DISTINCT sumdid)
FROM scooters
GROUP BY companyname;
'''

with engine.connect() as connection:
    scoots = pd.read_sql(text(query), con = connection)

scoots

  companyname  count
0        Bird   3860
1        Bolt    360
2      Gotcha    224
3        Jump   1210
4        Lime   1824
5        Lyft   1735
6        Spin    805

In [13]:
query = '''
SELECT 
    pg_typeof(pubdatetime)
FROM scooters;
'''

with engine.connect() as connection:
    scoots = pd.read_sql(text(query), con = connection)