In [1]:
from sqlalchemy import create_engine, text
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
database_name = 'scooters'

connection_string = f"postgresql://postgres:postgres@localhost:5433/{database_name}"

engine = create_engine(connection_string)

EDA

trips.info()

In [3]:
query = '''
SELECT companyname, SUM(tripduration)
FROM trips
WHERE tripduration IS NOT NULL
GROUP BY companyname'''

pd.read_sql(query, con = engine)

     companyname           sum
0           Bird  2.046202e+06
1  Bolt Mobility  3.082150e+07
2         Gotcha  3.380278e+04
3           JUMP  2.110013e+05
4           Lime  3.507335e+06
5           Lyft  1.936370e+06
6           SPIN  9.005750e+05

In [4]:
query = '''
SELECT *
FROM trips
'''

trips = pd.read_sql(query, con = engine)

In [5]:
query = '''
SELECT *
FROM scooters
LIMIT 5'''

pd.read_sql(query, con = engine)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-06-24 07:31:43,36.1195,-86.7529,Powered23342173-56fa-532f-ba0e-a41e96f331cd,Powered,1.0,scooter,0.06,Jump
1,2019-06-24 07:31:43,36.1204,-86.7537,Powered09c3974e-e332-596e-b298-0c8ed09158b1,Powered,93.0,scooter,0.06,Jump
2,2019-06-24 07:31:43,36.1197,-86.7534,Powered2193cdcc-a2ab-5824-9f18-b54b5dae2d5f,Powered,1.0,scooter,0.06,Jump
3,2019-06-24 07:31:43,36.1199,-86.7535,Powered5f384fdc-d722-5463-b45e-70b76ac34d7c,Powered,40.0,scooter,0.06,Jump
4,2019-06-24 07:31:43,36.1200,-86.7531,Powered13ca1f8e-8cb6-52f2-9afe-7fdd86872488,Powered,3.0,scooter,0.06,Jump

In [6]:
query = '''
SELECT *
FROM scooters
WHERE latitude IS NULL
    OR longitutde IS NULL'''

pd.read_sql(query, con = engine)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "longitutde" does not exist
LINE 5:     OR longitutde IS NULL
               ^
HINT:  Perhaps you meant to reference the column "scooters.longitude".

[SQL:
SELECT *
FROM scooters
WHERE latitude IS NULL
    OR longitutde IS NULL]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
query = '''
SELECT Distinct sumdgroup 
FROM scooters
'''

pd.read_sql(query, con = engine)

  sumdgroup
0   bicycle
1   scooter
2   Scooter

In [ ]:
query = '''
SELECT 
    MIN(latitude) AS min_lat,
    MAX(latitude) AS max_lat,
    MIN(longitude) AS min_lon,
    MAX(longitude) AS max_lon
FROM scooters;
'''

with engine.connect() as connection:
    scoots = pd.read_sql(text(query), con = connection)

scoots

   min_lat       max_lat    min_lon  max_lon
0      0.0  3.609874e+06 -97.443879      0.0

#ANSWER:

In [ ]:
query = '''
SELECT DISTINCT companyname
FROM scooters 
'''
pd.read_sql(query, con=engine)

  companyname
0        Bird
1        Bolt
2      Gotcha
3        Jump
4        Lime
5        Lyft
6        Spin

In [8]:
query = '''
SELECT DISTINCT pubdatetime, sumdid
FROM scooters
LIMIT 10;
'''
pd.read_sql(query, con=engine)

              pubdatetime                                        sumdid
0 2019-06-24 12:06:42.000   Powered5614e4fc-1971-5e5c-a545-0fd88cd3331d
1 2019-06-24 12:04:03.930                          Powered3WD63MPJQERKZ
2 2019-06-24 11:14:02.437                          PoweredD4HQB7B3QDA4X
3 2019-06-24 11:44:03.300                          PoweredJE3WFMD6YS42D
4 2019-06-24 14:09:08.873                          PoweredL4CIFAJA2N5O3
5 2019-06-24 11:57:42.363                                    Powered361
6 2019-06-24 11:19:33.450                                 Powered972550
7 2019-06-24 11:36:43.000   Poweredfc64f8b4-3fe9-552e-9f5a-3917cab8d92e
8 2019-06-24 12:09:43.287                                 Powered545792
9 2019-06-24 11:13:06.000  Powered-e19bf412-f79e-983d-1ebf-410597d7ac5f