In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from sqlalchemy import create_engine, text
import seaborn as sns
import psycopg2
from psycopg2 import sql

In [2]:
database_name = 'scooters'

connection_string = f'postgresql://postgres:postgres@localhost:5432/{database_name}'

engine = create_engine(connection_string)

In [3]:
engine = create_engine(connection_string)

In [4]:
query = '''
SELECT *
FROM scooters
LIMIT 100;
'''


with engine.connect() as connection:
    result = connection.execute(text(query))

In [5]:
result.fetchone()

(datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.136822'), Decimal('-86.799877'), 'PoweredLIRL1', 'Powered', Decimal('93.00'), 'scooter', Decimal('0.00'), 'Bird')

In [6]:
result.fetchall()

[(datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.191252'), Decimal('-86.772945'), 'PoweredXWRWC', 'Powered', Decimal('35.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.144752'), Decimal('-86.806293'), 'PoweredMEJEH', 'Powered', Decimal('90.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.162056'), Decimal('-86.774688'), 'Powered1A7TC', 'Powered', Decimal('88.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.150973'), Decimal('-86.783109'), 'Powered2TYEF', 'Powered', Decimal('98.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.157188'), Decimal('-86.769978'), 'Powered3F3VK', 'Powered', Decimal('82.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.154348'), Decimal('-86.784765'), 'PoweredVL7YG', 'Powered', Decimal('56.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.158930'), Decimal('-86.775987'), 'Powered5LNUG', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.135993'), Decimal('-86.804226'), 'Powered7SPQQ', 'Powered', Decimal('85.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.148938'), Decimal('-86.811256'), 'PoweredBV1DT', 'Powered', Decimal('65.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.161756'), Decimal('-86.777941'), 'Powered3B46L', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.154591'), Decimal('-86.782247'), 'Powered7S2UU', 'Powered', Decimal('69.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.148193'), Decimal('-86.802267'), 'PoweredA64US', 'Powered', Decimal('72.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.154716'), Decimal('-86.797860'), 'PoweredGK9VY', 'Powered', Decimal('74.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160524'), Decimal('-86.778528'), 'PoweredBFCXJ', 'Powered', Decimal('79.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.138401'), Decimal('-86.767465'), 'PoweredAB4VX', 'Powered', Decimal('65.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.159659'), Decimal('-86.788282'), 'PoweredNPV1Q', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.154781'), Decimal('-86.785050'), 'PoweredXWRSD', 'Powered', Decimal('35.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160438'), Decimal('-86.778480'), 'Powered2ZSZE', 'Powered', Decimal('90.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160560'), Decimal('-86.778621'), 'PoweredI4EEE', 'Powered', Decimal('93.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.158783'), Decimal('-86.779234'), 'PoweredY43Q4', 'Powered', Decimal('34.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.161325'), Decimal('-86.777521'), 'PoweredRWGRR', 'Powered', Decimal('87.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.151640'), Decimal('-86.787593'), 'PoweredASJRY', 'Powered', Decimal('72.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.162920'), Decimal('-86.780974'), 'Powered12J9T', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.161862'), Decimal('-86.779130'), 'PoweredA9W92', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.153412'), Decimal('-86.780707'), 'Powered38GUR', 'Powered', Decimal('35.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.135730'), Decimal('-86.802048'), 'PoweredMA1E2', 'Powered', Decimal('94.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.146417'), Decimal('-86.802519'), 'PoweredXFQ22', 'Powered', Decimal('92.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160937'), Decimal('-86.773172'), 'PoweredVZU3B', 'Powered', Decimal('46.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.163215'), Decimal('-86.778137'), 'PoweredLP7V8', 'Powered', Decimal('92.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160151'), Decimal('-86.778160'), 'Powered4P19Z', 'Powered', Decimal('69.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160827'), Decimal('-86.777283'), 'PoweredBE3BS', 'Powered', Decimal('95.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.167599'), Decimal('-86.820593'), 'PoweredV33KI', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.163280'), Decimal('-86.780282'), 'PoweredKUV1U', 'Powered', Decimal('92.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.163904'), Decimal('-86.779432'), 'Powered4BES8', 'Powered', Decimal('35.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.147219'), Decimal('-86.792547'), 'PoweredS3C46', 'Powered', Decimal('72.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.140610'), Decimal('-86.806159'), 'PoweredRAQAI', 'Powered', Decimal('54.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.154377'), Decimal('-86.798815'), 'PoweredBF8XE', 'Powered', Decimal('79.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.176472'), Decimal('-86.785293'), 'PoweredDNCQL', 'Powered', Decimal('90.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.152399'), Decimal('-86.791586'), 'PoweredK6YH7', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.157598'), Decimal('-86.773162'), 'PoweredINP6E', 'Powered', Decimal('78.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.143279'), Decimal('-86.801851'), 'Powered71SLY', 'Powered', Decimal('70.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.155631'), Decimal('-86.785399'), 'PoweredC4JMV', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.138622'), Decimal('-86.793982'), 'Powered125HI', 'Powered', Decimal('85.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.162090'), Decimal('-86.775447'), 'PoweredFZIK5', 'Powered', Decimal('95.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.151606'), Decimal('-86.812096'), 'Powered9DC3R', 'Powered', Decimal('35.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.158371'), Decimal('-86.780487'), 'PoweredAPID7', 'Powered', Decimal('82.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.161611'), Decimal('-86.769058'), 'Powered57MTR', 'Powered', Decimal('38.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.153159'), Decimal('-86.789142'), 'Powered3WW12', 'Powered', Decimal('89.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.146792'), Decimal('-86.808228'), 'PoweredDVQDU', 'Powered', Decimal('79.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.150966'), Decimal('-86.796413'), 'PoweredLSSUT', 'Powered', Decimal('34.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.136810'), Decimal('-86.799487'), 'Powered9JD8Y', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.167143'), Decimal('-86.781206'), 'PoweredE483T', 'Powered', Decimal('94.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.168628'), Decimal('-86.782627'), 'PoweredJG9NA', 'Powered', Decimal('69.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.161955'), Decimal('-86.775273'), 'PoweredZB1FI', 'Powered', Decimal('87.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.140221'), Decimal('-86.804083'), 'PoweredRDZAZ', 'Powered', Decimal('33.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.149600'), Decimal('-86.797500'), 'PoweredNHD1X', 'Powered', Decimal('91.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.163778'), Decimal('-86.778153'), 'PoweredH1XZK', 'Powered', Decimal('98.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160997'), Decimal('-86.776990'), 'PoweredBWUNW', 'Powered', Decimal('95.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.145945'), Decimal('-86.811664'), 'PoweredWUEUZ', 'Powered', Decimal('60.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160541'), Decimal('-86.775244'), 'Powered35D1B', 'Powered', Decimal('65.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.147104'), Decimal('-86.792532'), 'PoweredFFUAY', 'Powered', Decimal('87.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.161052'), Decimal('-86.781899'), 'PoweredYEBSU', 'Powered', Decimal('73.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160655'), Decimal('-86.778533'), 'PoweredJ2MAY', 'Powered', Decimal('76.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.159525'), Decimal('-86.773468'), 'PoweredJRIUQ', 'Powered', Decimal('36.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.149934'), Decimal('-86.814497'), 'Powered85B5Y', 'Powered', Decimal('73.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.157300'), Decimal('-86.773915'), 'Powered4IJFP', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.157100'), Decimal('-86.774087'), 'PoweredK5SAH', 'Powered', Decimal('43.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.156049'), Decimal('-86.782991'), 'Powered1TN7V', 'Powered', Decimal('52.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.152848'), Decimal('-86.782675'), 'PoweredAWI7A', 'Powered', Decimal('60.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.148287'), Decimal('-86.807261'), 'PoweredBVZ4I', 'Powered', Decimal('70.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.159927'), Decimal('-86.772829'), 'Powered4L229', 'Powered', Decimal('42.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.177509'), Decimal('-86.750357'), 'PoweredJWUK3', 'Powered', Decimal('90.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.173564'), Decimal('-86.765337'), 'Powered8QBKJ', 'Powered', Decimal('76.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.161454'), Decimal('-86.776040'), 'Powered5R8S1', 'Powered', Decimal('42.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.144890'), Decimal('-86.805460'), 'PoweredQFQ1D', 'Powered', Decimal('89.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.147779'), Decimal('-86.810941'), 'PoweredDUDFB', 'Powered', Decimal('80.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.175541'), Decimal('-86.794503'), 'PoweredAGR3R', 'Powered', Decimal('74.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.163945'), Decimal('-86.778285'), 'Powered4Y7BC', 'Powered', Decimal('95.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.159813'), Decimal('-86.788666'), 'Powered7IYBL', 'Powered', Decimal('94.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.174826'), Decimal('-86.786375'), 'Powered2XNJS', 'Powered', Decimal('99.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.161769'), Decimal('-86.782624'), 'PoweredHIRY6', 'Powered', Decimal('62.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.149279'), Decimal('-86.803224'), 'PoweredX61AH', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.155292'), Decimal('-86.769568'), 'PoweredCGFQE', 'Powered', Decimal('91.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.174157'), Decimal('-86.761328'), 'PoweredBIQFK', 'Powered', Decimal('89.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.154852'), Decimal('-86.784918'), 'PoweredSTC61', 'Powered', Decimal('60.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.143170'), Decimal('-86.808771'), 'PoweredQTIZB', 'Powered', Decimal('82.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.162431'), Decimal('-86.775466'), 'Powered9ELC1', 'Powered', Decimal('54.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.157373'), Decimal('-86.773105'), 'PoweredU3HGX', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160324'), Decimal('-86.778369'), 'PoweredRR9II', 'Powered', Decimal('76.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.160530'), Decimal('-86.778572'), 'PoweredPDCDP', 'Powered', Decimal('64.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.162825'), Decimal('-86.781787'), 'Powered7M73Y', 'Powered', Decimal('73.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.162714'), Decimal('-86.775662'), 'Powered6WAVH', 'Powered', Decimal('100.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.136883'), Decimal('-86.800108'), 'PoweredPVTGC', 'Powered', Decimal('96.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.162200'), Decimal('-86.776747'), 'PoweredBCK7U', 'Powered', Decimal('62.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.141158'), Decimal('-86.801997'), 'PoweredWDMWW', 'Powered', Decimal('69.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.138786'), Decimal('-86.801667'), 'PoweredSNB79', 'Powered', Decimal('88.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.162634'), Decimal('-86.781603'), 'PoweredM69E2', 'Powered', Decimal('91.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.144795'), Decimal('-86.795576'), 'PoweredHY38F', 'Powered', Decimal('88.00'), 'scooter', Decimal('0.00'), 'Bird'),
 (datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), Decimal('36.165809'), Decimal('-86.777780'), 'Powered2WLYW', 'Powered', Decimal('98.00'), 'scooter', Decimal('0.00'), 'Bird')]

In [7]:
with engine.connect() as connection:
    people = pd.read_sql(text(query), con = connection)

people.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird

- Are there any null values in any columns in either table?

- What date range is represented in each of the date columns? Investigate any values that seem odd

In [8]:
query = '''
SELECT COUNT(*)
FROM scooters
'''

pd.read_sql(query, con = engine)

      count
0  73414043

- Is time represented with am/pm or using 24 hour values in each of the columns that include time?

In [9]:
query = '''
SELECT *
FROM scooters
LIMIT 1'''

pd.read_sql(query, con = engine)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird

- What values are there in the sumdgroup column? Are there any that are not of interest for this project?

In [10]:
query = '''
SELECT DISTINCT sumdgroup
FROM scooters'''

pd.read_sql(query, con = engine)

  sumdgroup
0   bicycle
1   scooter
2   Scooter

- What are the minimum and maximum values for all the latitude and longitude columns? Do these ranges make sense, or is there anything surprising?
--Max Latitude is too large. Minimum longetude is only correct value.

In [11]:
query = '''
SELECT
    MIN(latitude) AS min_lat,
    MAX(latitude) AS max_lat,
    MIN(longitude) AS min_lon,
    MAX(longitude) AS max_Lon
FROM scooters
'''


scoots = pd.read_sql(query, con = engine)

scoots

   min_lat       max_lat    min_lon  max_lon
0      0.0  3.609874e+06 -97.443879      0.0

-What is the range of values for trip duration and trip distance? Do these values make sense? Explore values that might seem questionable.

In [12]:
trips.tripduration.min()

NameError: name 'trips' is not defined

In [ ]:
trips.tripduration.max()

In [ ]:
trips.tripdistance.max()

- Check out how the values for the company name column in the scooters table compare to those of the trips table. What do you notice?

In [ ]:
query = '''
SELECT DISTINCT companyname
FROM scooters'''

pd.read_sql(query, con = engine)

In [ ]:
trips.companyname.unique()

1. During this period, seven companies offered scooters. How many scooters did each company have in this time frame? Did the number for each company change over time? Did scooter usage vary by company?

In [ ]:
query = '''
SELECT companyname, MONTH(pubdatetime), COUNT(DISTINCT sumdid)
FROM scooters
GROUP BY companyname, MONTH(pubdatetime)'''

pd.read_sql(query, con = engine)

2. According to Second Substitute Bill BL2018-1202 (as amended) (https://web.archive.org/web/20181019234657/https://www.nashville.gov/Metro-Clerk/Legislative/Ordinances/Details/7d2cf076-b12c-4645-a118-b530577c5ee8/2015-2019/BL2018-1202.aspx), all permitted operators will first clean data before providing or reporting data to Metro. Data processing and cleaning shall include:

* Removal of staff servicing and test trips

* Removal of trips below one minute

* Trip lengths are capped at 24 hours

In [ ]:
query = '''
SELECT
    companyname,
    EXTRACT( 'MONTH' FROM pumdatetime) AS Month,
    COUNT(DISTICT sumdid) 
FROM scooters
WHERE sumdgroup ilike 'scooter'
GROUP BY companyname, EXTRACT('MONTH' FROM pubdatetime);
'''

with engine.connect() as connection:
    scoots = pd.read_sql(text(query), con = connection)

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "sumdid"
LINE 5:     COUNT(DISTICT sumdid)
                          ^

[SQL:
SELECT
    companyname,
    EXTRACT( 'MONTH' FROM pumdatetime) AS Month,
    COUNT(DISTICT sumdid)
FROM scooters
WHERE sumdgroup ilike 'scooter'
GROUP BY companyname, EXTRACT('MONTH' FROM pubdatetime);
]
(Background on this error at: https://sqlalche.me/e/14/f405)

Are the scooter companies in compliance with the second and third part of this rule?

In [ ]:
trips.sort_values('tripduration',ascending=False)

NameError: name 'trips' is not defined

3. The goal of Metro Nashville is to have each scooter used a minimum of 3 times per day. Based on the data, what is the average number of trips per scooter per day? Make sure to consider the days that a scooter was available. How does this vary by company?

In [ ]:
query = '''
SELECT *
FROM trips
'''

trips = pd.read_sql(query, con = engine)

In [ ]:
trips['MM-DD'] = trips['pubtimestamp'].dt.strftime('%m-%d')

NameError: name 'trips' is not defined

In [ ]:
number3 = trips[['MM-DD','sumdid','companyname']].groupby(['MM-DD','sumdid'])

In [ ]:
number3 = number3.value_counts().reset_index()

In [ ]:
number3.groupby(['MM-DD','companyname'])['count'].mean()

4. What is the highest count of scooters being used at the same time? When did it occur? Does this vary by zip code or other geographic region?

4. SUMDs can provide alternative transportation and provide "last mile" access to public transit. How often are trips starting near public transit hubs? You can download a dataset of bus stop locations from https://data.nashville.gov/Transportation/Regional-Transportation-Authority-Bus-Stops/p886-fnbd.