In [1]:
from sqlalchemy import create_engine
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
database_name = 'scooters'

connection_string = f'postgresql://postgres:postgres@localhost:5432/{database_name}'

engine = create_engine(connection_string)

In [3]:
query = '''
SELECT companyname, SUM(tripduration)
FROM trips
WHERE tripduration IS NOT NULL
GROUP BY companyname'''

pd.read_sql(query, con = engine)

     companyname           sum
0           Bird  2.046202e+06
1  Bolt Mobility  3.082150e+07
2         Gotcha  3.380278e+04
3           JUMP  2.110013e+05
4           Lime  3.507335e+06
5           Lyft  1.936370e+06
6           SPIN  9.005750e+05